{% extends "base.html" %} {% block content %}

<div class="m-5">
    <hr bg-info>
    <a class="btn btn-info " href="/registrate/ " role="button ">Ingresa a tu cuenta</a>
</div>
<!-- ---------------------------Formulario Pedido---------------------------------------------------->
<section id="pedido1" class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 btn-dark">
            <h2 class="text-info">Gestiona tu Pedido</h2>
            <hr bg-info>
            <form action="/carrito/" method="POST " name="formulario ">{% csrf_token %}
                <!-- fecha de ingreso -->
                <div class="form-group row ">
                    <label for="ingreso" class="col-form-label col-md-5">fecha de Ingreso:</label>
                    <div class="col-md-7">
                        <input type="date" name="ingreso" id="ingreso" value="" class="form-control" required>
                        <div class="invalid-feedback ">
                            Please choose a username.
                        </div>
                    </div>
                </div>
                <!-- Direcion -->
                <div class="form-group row ">
                    <label for="dir" class="col-form-label col-md-5">Direccion de despacho: </label>
                    <div class="col-md-7">
                        <input type="text " name="dir" id="dir" value="" placeholder="Direccion de Despacho" class="form-control" required>
                        <div class="invalid-feedback ">
                            Please choose a username.
                        </div>
                    </div>
                </div>
                <!-- fecha entrega -->
                <div class="form-group row ">
                    <label for="entrega" class="col-form-label col-md-5">fecha de entrega:</label>
                    <div class="col-md-7">
                        <input type="date" name="entrega" id="entrega" value="" class="form-control " required>
                        <div class="invalid-feedback ">
                            Please choose a username.
                        </div>
                    </div>
                </div>
                <!-- hora de entrega -->
                <div class="form-group row ">
                    <label for="hora" class="col-form-label col-md-5">Hora entrega: </label>
                    <div class="col-md-7">
                        <select class="form-control " id="hora" name="hora">
                                <option class="hora" value="9:00 a 10:00">9:00 a 10:00</option>
                                <option class="hora" value="10:00 a 11:00">10:00 a 11:00</option>
                                <option class="hora" value="11:00 a 12:00">11:00 a 12:00 </option>
                                <option class="hora" value="12:00 a 13:00">12:00 a 13:00 </option>
                                <option class="hora" value="16:00 a 17:00">16:00 a 17:00 </option>
                                <option class="hora" value="p17:00 a 18:00">17:00 a 18:00</option>
                                <option class="hora" value="18:00 a 19:00">18:00 a 19:00</option>
                        </select>
                    </div>
                </div>
                <!-- telefono -->
                <div class=" form-group row ">
                    <label for="fono " class="col-form-label col-md-5">Telefono: </label>
                    <div class="col-md-7">
                        <input type="number" name="fono" id="fono" value="" placeholder="telefono de despacho" class="form-control" required>
                        <div class="invalid-feedback ">
                            Please choose a username.
                        </div>
                    </div>
                </div>
                <!-- recibe -->
                <div class="form-group row ">
                    <label for="recibe" class="col-form-label col-md-5">Nombre y Apellido: </label>
                    <div class="col-md-7">
                        <input type="text " name="recibe" id="recibe" value="" placeholder="Persona que recibe" class="form-control" required>
                        <div class="invalid-feedback ">
                            Please choose a username.
                        </div>
                    </div>
                </div>
                <!-- Cliente -->
                <div class="form-group row ">
                    <label for="cli" class="col-form-label col-md-5">Cliente: </label>
                    <div class="col-md-7">
                        <input type="text" name="cli" id="cli" value="{{cli.email}}" placeholder="" class="form-control " required>
                        <div class="invalid-feedback ">
                            Please choose a username.
                        </div>
                    </div>
                </div>
                <hr bg-info>
                <div class=" form-group ">
                    <button class="btn btn-info " type="submit ">Enviar</button>
                </div>
            </form>
        </div>
        <div class="col-md-6 "></div>
    </div>

</section>

{% endblock %}