{% extends "base.html" %} {% block content %}
<div class="wrap">
    <br>
    <h1>Escoge una categoria de producto</h1>
    <div class="store-wrapper">
        <div class="category_list">
            {% for tip in tipo %}
            <a href="#" class="category_item" category="{{tip.descripcion}}">{{tip.descripcion}}</a> {% endfor %}
        </div>

        <div class="products-list">
            {% for prod_tortas in prod %}
            <div class="product-item " category="{{prod_tortas.cod_tipo}}">
                <img src=" {{prod_tortas.url}}" alt="">
                <a href="# ">{{prod_tortas.descripcion}}</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}